<nav class="header">
  <ul>
    <li>
      <a href="/"><h1>christine cha</h1></a>
    </li>
    <li>
<!--       <a href="https://blog.christinecha.com" target="_blank"><h1>blog</h1></a> -->
    </li>
  </ul>
</nav>
