:root {
  --background-color: black;
  --text-color: white;
}

body {
  background-color: var(--background-color);

  * {
    font-family: "Apercu", sans-serif;
    color: var(--text-color);
  }
}

[data-faded] {
  opacity: 0.4;
}

main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  @media @tablet {
    width: 90%;
  }
}

h1 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;

  @media @desktop-xxl {
    font-size: 20px;
  }

  &[data-lg] {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.05em;

    @media @desktop-xxl {
      font-size: 40px;
    }
  }
}

h2 {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.4;
}

h3 {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;

  @media @desktop-xl {
    font-size: 16px;
  }
  @media @desktop-xxl {
    font-size: 20px;
  }
}

.p-small() {
  font-size: 14px;
  line-height: 1.4em;

  @media @tablet {
    font-size: 16px;
  }
  @media @desktop {
    font-size: 20px;
  }
  @media @desktop-lg {
    font-size: 24px;
  }
}

p,
li,
a {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: 0.02em;

  @media @tablet {
    font-size: 28px;
  }
  @media @desktop-lg {
    font-size: 35px;
  }

  &.small {
    .p-small();
  }
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
}
